* {
  margin: 0;
}


main { 

  /* treinando */
  background-color: rgb(255, 255, 255);
  background-image: url(https://www.rocketseat.com.br/_next/image?url=%2Fassets%2Flogos%2Frocketseat.svg&w=256&q=100);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 500px;
  background-attachment: fixed;
  background: linear-gradient(180deg, purple, white)
}